.footer {
    background-color: #18141C;
    height: 40px;
    width: 100%;
}

.icons {
    color: $secondary-color;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;

    li {
        margin-left: 16px;
        list-style: none;
        }
        
    a {
        text-decoration: none;
        color: inherit;
        display: inline-block;
    }
}

.lab {
    font-size: 36px;
}