//background
$bg-color: #212121;

// primary
$primary-color: #bf9fe3;
$faded-primary: #bf9fe3cb;
$darken-primary: #bf9fe383;

//secondary
$secondary-color: #f4effa;

body {
    background-color: #212121;
}